@import '../../assets/variables/color';

.portfolio {
	min-width: 900px;
	padding: 25px 35px;

	@media (max-width: 910px) {
		min-width: 0;
	}

	@media (max-width: 625px) {
		padding: 15px 25px;
	}

	&__projects {
		&-items {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			gap: 15px 10px;

			&--item {
				max-width: calc(50% - 10px);
				@media (max-width: 940px) {
					max-width: calc(50% - 10px);
				}
				@media (max-width: 640px) {
					max-width: 100%;
				}
			}
		}
	}
}
