@import '../../../assets/variables/color';

.pCard {
  width: 100%;
  padding: 5px;


  &__image {
    position: relative;

    &:hover{
      .icon{
        display: flex;
      }
      &-img{
        opacity: .5;
      }
    }
    .icon {
      cursor: pointer;
      display: none;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%,-50%);
    }

    &-img {
      border-radius: 15px;
      object-fit: cover;
      height: 100%;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__descr {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}