@import "../../assets/variables/color";

.about {
  width: 100%;
  transition: all .3s ease-in-out;

  &__text {
    margin-bottom: 30px;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}