@import "../../assets/variables/color";

.layout{
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;

  .main {
    width: 950px;
    border-radius: 30px;
    background-color: $darkblack;
    height: 130vh;
  }
}

/*
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  main{
    background-color: red;
    width: 100%;
  }
}*/
