@import '../../../assets/variables/color';

.partners {
  &__items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
    margin: 0 -15px;
    padding: 35px 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
      background-color: $border;
      border-radius: 10px;
      height: 300px;
    }

    &::-webkit-scrollbar {
      max-height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      width: 40%;
      border-radius: 10px;
      background-color: $main
    }

    &-item * {
      width: 180px;
      cursor: pointer;
      filter: grayscale(1);

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}