@import '../../../assets/variables/color';

.bCard {
  width: 100%;

  &__header {
    width: 100%;

    &-image {
      border-radius: 10px;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px 0;
    &-suptitle{
      display: flex;
      align-items: center;
      gap: 5px;
      span{
        display: block;
        width: 5px;
        height: 5px;
        background-color: $grey;
        border-radius: 5px;
      }
    }

    &-title {
      margin-bottom: 0;
    }

    &-descr {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}